@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $gray-100;
}

.centered-container {
  width: 480px;
  align-self: center;
  background-color: $white;
  border-radius: $border-radius-xl;
  box-shadow: $box-shadow-sm;
  padding: ($spacer * 2) ($spacer * 3) ($spacer * 2) ($spacer * 3);
  text-align: center;
  margin: auto;

  @media (max-width: 480px) {
    width: calc(100% - $spacer * 2);
  }
}

.max-width-480 {
  max-width: 480px;
}

.icon-btn {
  padding: ($spacer * 0.25) ($spacer * 0.5) ($spacer * 0.25) ($spacer * 0.5)
}

.cursor-pointer {
  cursor: pointer;
}
